
.cart_bar{
    color: var(--black_op85);
    z-index: 1;
    background-color: var(--white1);
    box-shadow: 0px 0px 4px 3px var(--white_box_shadow);
    position: fixed;
    bottom: 0px;
    height: 8rem;
    padding: .5rem 4rem;
    width: 100vw;
    box-sizing:border-box ;
    transform: translateY(5rem);
    transition: transform 250ms ease-in-out;

}
.cart_bar:hover{
    transform: translateY(0px);
}

.horizontal_Layout_cartBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.div_upper_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link_as_btn{
    height: 2rem;
    padding: 0rem 2rem;
    color: var(--black_op85);
    background-color: var(--white1);
    border-radius: 1rem;
    font-size: 1.3rem;
    text-decoration: none;
}
.div_link_as_btn{
    background-color: var(--white1);
}