
.dashboardContainer{
    max-width: 100vw;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin: 4rem 2rem;
    margin-bottom: 1rem;
    background-color: var(--white1);
}

.uploadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    border-radius: 3px;
    background-color: var(--white1);
}

.uploadsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1rem;
    gap: 1rem;
}

.myUploads{
    background-color: var(--white1);
    justify-content: space-between;
    flex-shrink: 1;
    margin: 1rem 2rem;
    min-height: 25rem;
    max-width:95vw;
    padding: 1rem 2rem;
}

.imgInput{
    display: none;
}

.inputLabel{
    height: 10vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--white3);
    color: var(--photo_Blue_light);
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}



.inputLabel:hover{
    color: var(--photo_Blue);
    background-color: var(--white2);
}


.uploadCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: #585858;
    max-width: 25rem;
    height: 100px;
    padding: .5rem .5rem;
}
.uploadCard > img{
    height: 100px;
    width: auto;
}
#upload_imgs_preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 1rem;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.emailAndSend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
#uploadSubmitBtn{
    background-color: var(--photo_Blue);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    border: 0;
    cursor: pointer;
}

#id_client_email{
    height: 2rem;
    font-size: large;
    font-family: 'Montserrat';
    border-radius: 8px;
    border: 2px solid var(--photo_Blue);
    background-color: var(--white1);
    outline: none;
    resize: none;
}

#uploadSubmitBtn:disabled{
    background-color: var(--white3);
}


#id_client_email :disabled{
    border: 2px solid var(--white3);
    background-color: var(--white2);

}

figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 0px;
    align-items: center;
    justify-content: center;
}
figcaption{
    font-size: smaller;
}

.img_preview{
   max-width: 8rem;
}

@media only screen and (max-width: 900px) {

    .dashboar_top_row{
        flex-direction: column;
    }

    .dashboardContainer{
        max-width: 95vw;
        padding: .5rem 1rem;

    }
    .uploadContainer{
        max-width: 95vw;
        padding: .5rem 1rem;
    }
    .myUploads{
        background-color: var(--white1);
        margin: 1rem 2rem;
        min-height: 8rem;
        max-width:95vw;
        padding: 1rem 2rem;
    }

}