{% extends 'global.html' %}
{% load static %}
{% load watermark %}
{% block content %}
{% load useVar %}


<div class="myImgsContainer">
    <div class="TitleAndPagination noPaddingNoMargin">
        <h2 class="noPaddingNoMargin">Novas Fotos</h2>
        {% include 'Partials/paginator.html' %}
    </div>
    

    <div class="imgsContainer">
        <ul class="image-gallery">

            {% for img in imgs %}
                <li>
                    <img src = "{{img.photo_img.url | watermark:"watermark01,position=R,opacity=70,scale=R90%,tile=1" }}"
                    alt=""
                    onCart={{img.order}}
                    id={{img.id}}
                    onclick = "showModal(this,{{img.id}});"
                    class = "imageToBuy"
                    />
                    <div class='img_selection_highlight' id='img_selection_highlight_{{img.id}}'><h1><i class="fa-solid fa-cart-shopping"></h1></i></div>
                    <div class="imgOverlay" id = 'imgOverlay_{{img.id}}'>
                        
                        <h4 class="expiration-date">Expira em: {{img.expiration_date}}<h4>
                        
                        <div class="div_likeDislike">
                            <button id='btn-addtocart_{{img.id}}' class='btn-addToCart' onclick="addToCart(this,{{img.id}})">Adicionar ao carrinho</button>
                            <button id='btn-removetocart_{{img.id}}' class='btn-removeFromCart' onclick="removeFromCart(this,{{img.id}})">Remover do carrinho</button>
                            <button class='btn-likeThisImg' ><i class="fa-solid fa-thumbs-up" style="color: #1e88e5;"></i></button>
                            <button class='btn-deleteThisImg' ><i class="fa-solid fa-trash-can" style="color: #8f0000;"></i></button>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>

<!--<a href="{% url 'FotoAqui:checkout' %}" hidden id='cart_link'>Isso nao deveria estar aparecendo na sua tela!</a>-->

{% include 'Partials/imgs_modal.html' %}

{% include 'Partials/cart_bar.html' %}

<link rel="stylesheet" href="{% static '/css/Gallery.css' %}">

<script type="text/javascript">
    var price = "{{ business.img_price | js }}";
</script>

{% endblock content %}