{% load static %}

<div class="profilePage_container">
    <div class="profilePage_container2">
        <img class='profilePage_perfilImg' src="{% static 'layout/perfilDefault.png' %}" alt="">
        <div class="profilePage_nameDiv">
            <h1 class="h_insedinsideTitle">Elivelton Pardini</h1>
            <h3 class="h_insedinsideTitle">Campo Grande - MS</h3>
        </div>
    </div>
    <div class="profilePage_statistic">
        <div class="statistics_card">
            <h4 class="h_insedinsideStats">Fotos Compradas:<br>43</h4>
        </div>

        <div class="statistics_card">
            <h4 class="h_insedinsideStats">Fotos Compradas:<br>43</h4>
        </div>

        <div class="statistics_card">
            <h4 class="h_insedinsideStats">Fotos Compradas:<br>43</h4>
        </div>


    </div>
</div>